

<div class="container vertical-center">
<h1>Nicole M. Williams</h1>
<p>I'm here to show the world that black girls do code!</p>

<br/>
<a href="http://www.instagram.com/newlyminted.me" target="blank">
      <%=image_tag("instagram.png") %> </a>
      
<a href="http://www.facebook.com/nicole.williams.336717" target="blank">
        <%=image_tag("facebook.png") %>
</a>

<a href="http://www.pinterest.com/nwilliamsnola" target="blank">
        <%=image_tag("pinterest.png") %> 
</a>

</div>
